<h2 style="margin-bottom:10px;"><a href="http://eequickstartguide.com/" target="_blank">ExpressionEngine 2.0: A Quick-Start Guide</a></h2>
<ul>
	<li>
		<a href="http://eequickstart.com/?utm_source=eeinsider_accessory&utm_medium=addon&utm_campaign=EE%2BInsider%20Accesory" target="_blank">
			<img style="float: left; margin-right: 10px; display: block;" src="http://eequickstartguide.com/img/cover.jpg" width="85" />
		</a>
			<p style="width: 250px; float: left; font-size: 14px;">Hands-on examples and expert advice guide you through the process of building a website from beginning to end in ExpressionEngine 2.0. Get inspired to build amazing websites with ExpressionEngine.</p>

	</li>
</ul>

